.about-page {
  .text-zone {
    .about-page_header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      margin-bottom: 10%;

      h1 {
        margin-bottom: 79px;
      }

      .about-photo {
        width: 50%;
        border-radius: 16px;
        margin-left: 10px;
      }

      &::before {
        content: "";
        background-color: #9595952b;
        width: 100%;
        height: 29%;
        position: absolute;
        z-index: -1;
        border-radius: 16px;
      }
    }
  }
}
