.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 36%;
    transform: translateY(-50%);
    width: 58%;
    max-height: 90%;
  }

  .social-icons_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90%;

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #614cbe;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin: 0 6px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;

          .fa-linkedin,
          .fa-github,
          .fa-discord {
            width: 16px;
            height: 16px;
            color: #92caff;
          }
        }
      }
    }
  }

  h1 {
    color: #fff;
    font-size: 46px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;
  }

  h2 {
    color: #8d8d8d;
    margin-top: 63px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
}
