.home-page {
  .text-zone {
    margin-left: 10%;
    position: absolute;
    top: 132px;
    transform: translateY(-50%);
    .headline {
      h1 {
        color: #fff;
        font-size: 46px;
        margin: 0;
        font-family: "Coolvetica";
        font-weight: 400;
      }
    }

    .skills-wrapper {
      position: absolute;
      margin-top: 58px;

      .skills {
        display: flex;

        .skills-element {
          display: flex;
          align-content: center;
          align-items: center;
          width: 50%;

          .fa-react,
          .fa-js,
          .fa-html5,
          .fa-css3 {
            color: #92caff;
            height: 24px;
            width: 24px;
          }
          h2 {
            margin: 10px 10px 10px 10px;
            color: #fffa5a;
            font-weight: 400;
            font-size: 16px;
            font-family: sans-serif;
            letter-spacing: 3px;
            animation: fadeIn 1s 1.8s backwards;
          }
        }
      }
    }
  }
}
