.header {
  background: #0000001a;
  width: 100%;
  position: absolute;
  z-index: 3;

  .header-top {
    display: flex;
    justify-content: space-between;

    .header-top_logo-wrapper {
      display: flex;
      flex-direction: column;

      img {
        display: block;
        margin: auto 10px;
        width: 46px;
        height: auto;

        &.logo-text {
          width: 36px;
        }
      }
    }

    .nav-bar_btn_wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all 0.5 ease-in-out;

      .nav-bar_btn-burger {
        width: 36px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
      }

      &.open {
        .nav-bar_btn-burger {
          transform: translate(-50px);
          background: transparent;
          box-shadow: none;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      &::before {
        transform: translateY(-16px);
      }

      &::after {
        transform: translateY(16px);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 36px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .nav-bar_slide {
    width: 88%;
    position: fixed;
    left: 100%;
    opacity: 0;
    margin: 0 6% 15% 6%;
    bottom: 0;
    text-align: center;
    background: #311b92;
    border-radius: 16px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    animation: fadeInRight 1s 1s;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 2px 6px #614cbe;

    &.nav-bar_open {
      left: 0;
      opacity: 1;
    }

    a {
      font-size: 22px;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #ffffff;

        svg {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: "";
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3 ease-out;
      }

      &:first-child {
        &::after {
          content: "HOME";
        }
      }
    }

    a.about-link {
      &::after {
        content: "ABOUT";
      }
    }

    a.skills-link {
      &::after {
        content: "SKILLS";
      }
    }

    a.contact-link {
      &::after {
        content: "CONTACT";
      }
    }

    a.active {
      svg {
        color: #0083ff;
      }
    }
  }
}
