.header {
  background: #060f17;
  width: 100%;
  position: absolute;
  z-index: 3;

  .header-top {
    display: flex;
    justify-content: space-between;

    .header-top_logo-wrapper {
      display: flex;
      flex-direction: column;

      img {
        display: block;
        margin: auto 10px;
        width: 46px;
        height: auto;

        &.logo-text {
          width: 36px;
        }
      }
    }

    .nav-bar_btn_wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all 0.5 ease-in-out;

      .nav-bar_btn-burger {
        width: 36px;
        height: 3px;
        background-color: #d8d20f;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
      }

      &.open {
        .nav-bar_btn-burger {
          transform: translate(-50px);
          background: transparent;
          box-shadow: none;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      &::before {
        transform: translateY(-16px);
      }

      &::after {
        transform: translateY(16px);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 36px;
        height: 3px;
        background: #fffa5a;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .nav-bar_slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 66px;
    position: fixed;
    z-index: 999;
    left: 100%;
    opacity: 0;
    bottom: 0;
    text-align: center;
    background: #060f17;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    animation: fadeInRight 1s 1s;

    &.nav-bar_open {
      left: 0;
      opacity: 1;
    }
    .icon-wrapper {
      width: 48px;
      height: 48px;
      background-color: #1f1d6c;
      border-radius: 12px;

      a {
        font-size: 22px;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;

        i {
          transition: all 0.3s ease-out;
        }

        // &:hover {
        //   color: #ffffff;

        //   svg {
        //     opacity: 1;
        //   }

        //   &::after {
        //     opacity: 1;
        //   }
        // }

        // &::after {
        //   content: "";
        //   font-size: 9px;
        //   letter-spacing: 2px;
        //   position: absolute;
        //   bottom: 0;
        //   display: block;
        //   width: 100%;
        //   text-align: center;
        //   opacity: 0;
        //   transition: all 0.3 ease-out;
        // }

        // &:first-child {
        //   &::after {
        //     content: "HOME";
        //   }
        // }
      }

      // a.about-link {
      //   &::after {
      //     content: "ABOUT";
      //   }
      // }

      // a.skills-link {
      //   &::after {
      //     content: "SKILLS";
      //   }
      // }

      // a.contact-link {
      //   &::after {
      //     content: "CONTACT";
      //   }
      // }

      a.active {
        svg {
          color: #fffa5a;
        }
      }
    }
  }
}
