.nav-bar {
	background: #181818;
	width: 100%;
	// height: 15%;
	position: absolute;
	z-index: 3;
	// min-height: 127px;

	.logo {
		display: block;

		img {
			display: block;
			margin: 8px auto;
			width: 36px;
			height: auto;

			&.logo-text {
				width: 36px;
			}
		}

		.menu-btn {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80px;
			height: 80px;
			cursor: pointer;
			transition: all 0.5 ease-in-out;
			border: 3px solid white;

			.menu-btn_burger {
				width: 50px;
				height: 6px;
				background-color: #fff;
				border-radius: 5px;
				box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
				transition: all 0.5s ease-in-out;
			}

			&.open {
				.menu-btn_burger {
					transform: translate(-50px);
					background: transparent;
					box-shadow: none;
				}

				&::before {
					transform: rotate(45deg);
				}

				&::after {
					transform: rotate(-45deg);
				}
			}

			&::before {
				transform: translateY(-16px);
			}

			&::after {
				transform: translateY(16px);
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 50px;
				height: 6px;
				background: #fff;
				border-radius: 5px;
				box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
				transition: all 0.5s ease-in-out;
			}
		}
	}

	nav {
		width: 100%;
		position: fixed;
		/* left: 100%; */
		/* opacity: 0; */
		margin-left: 0;
		text-align: center;
		background: #181818;
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		animation: fadeInRight 1s 1s;
		display: flex;
		justify-content: space-around;

		a {
			font-size: 22px;
			color: #4d4d4e;
			display: block;
			line-height: 51px;
			height: 51px;
			position: relative;
			text-decoration: none;

			i {
				transition: all 0.3s ease-out;
			}

			&:hover {
				color: #ffd700;

				svg {
					opacity: 0;
				}

				&::after {
					opacity: 1;
				}
			}

			&::after {
				content: "";
				font-size: 9px;
				letter-spacing: 2px;
				position: absolute;
				bottom: 0;
				display: block;
				width: 100%;
				text-align: center;
				opacity: 0;
				transition: all 0.3 ease-out;
			}

			&:first-child {
				&::after {
					content: "HOME";
				}
			}
		}

		a.about-link {
			&::after {
				content: "ABOUT";
			}
		}

		a.skills-link {
			&::after {
				content: "SKILLS";
			}
		}

		a.contact-link {
			&::after {
				content: "CONTACT";
			}
		}

		a.active {
			svg {
				color: #ffd700;
			}
		}
	}

	ul {
		position: absolute;
		bottom: 20px;
		width: 100%;
		display: none;
		padding: 0;
		list-style: none;
		text-align: center;
		margin: 0;

		li {
			a {
				padding: 7px 0;
				display: block;
				font-size: 15px;
				line-height: 16px;

				&:hover svg {
					color: #ffd700;
				}
			}
		}
	}
}
